/*!
 * Start Bootstrap - Small Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

.navbar-fixed-top .nav {
    padding: 15px 0;

}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;

}

footer {
    padding: 30px 0;

}

@media(min-width:768px) {
    body {
       /* padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
        
    }
}
.menu_nav{
    color:#000;
}
.manu_nav:hover{
    color:#cccccc;
}
.header_form{
        background-color:#b2dfce;
        -moz-box-shadow:    2px 2px 2px 0px  #000;
        -webkit-box-shadow: 2px 2px 2px 0px  #000;
        box-shadow:         2px 2px 2px 0px  #000;
        font-weight: bold;
        padding: 5px;
}
.table_filter td{
    padding: 3px;
}